<div class="row">
    <div class="col-12">
        <h2 id="header" class="center-text">Welcome to the Matrix</h2>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 offset-xl-2 no-padding">
        <div id="led-grid-container">
            <div id="led-grid-border" class="stretchy-wrapper center">
                <div id="led-grid">
                    {{#each leds}}
                    <div class="cell led">
                        <button id="{{this.ledId}}" class="btn led {{this.color}}"></button>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div id="led-grid-controller">
            <div id="color-grid">
                {{#each colors}}
                <div class="cell color">
                    {{#if @first}}
                    <button id="{{this}}" class="btn color {{this}} active"></button>
                    {{else}}
                    <button id="{{this}}" class="btn color {{this}}"></button>
                    {{/if}}
                </div>
                {{/each}}
            </div>
            <div id="control-grid">
                <div class="cell control">
                    <button id="control-set" class="btn control no-padding">Set all
                        <i class="fas fa-paint-brush fa-fw"></i>
                    </button>
                </div>
                <div class="cell control">
                    <button id="control-clear" class="btn control no-padding">Clear all
                        <i class="fas fa-times fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 no-padding">
        <div id="live-stream-container">
            <div id="live-stream-border" class="stretchy-wrapper center outline solid" style="outline-color: black;">
                <iframe id="live-stream" src="https://www.youtube.com/embed/live_stream?channel=UC_HdXZ82L01eOLMPnf3EnmQ&autoplay=1" frameborder="0"></iframe>
            </div>
        </div>
        <div id="description-container">
            <div id="description-border" class="outline solid" style="outline-color: black">
                <div id="description-content">
                    <h5>Online: <span id="online">Connecting...</span></h5>
                    <h4>How to use</h4>
                    <ul id="instructions">
                        <li>Choose a color, click an LED</li>
                        <li>Click
                            <b>Set all</b> to set all LEDs to your color</li>
                        <li>Click
                            <b>Clear all</b> to turn off all LEDs</li>
                    </ul>
                    <h4>About this project</h4>
                    <p>This project started as a coding challenge to learn about
                        <a class="no-line" href="http://mqtt.org/">MQTT</a>, a lightweight protocol created mainly for IoT, but also used in other applications like
                        <a class="no-line" href="https://mqtt.org/2011/08/mqtt-used-by-facebook-messenger">Facebook Messenger</a> and
                        <a class="no-line" href="https://prezi.com/q3uh3fi_jwt5/">transferring data to and from space probes</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>