<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matrix</title>
    <script src="https://unpkg.com/mqtt@2.17.0/dist/mqtt.js"></script>
    <script type="text/javascript" src="./js/matrix.js"></script>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="./css/custom.css">
    <link rel="stylesheet" href="./css/colors.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 id="header" class="center-text">Welcome to the Matrix</h2>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 offset-xl-2 no-padding"> -->
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 offset-xl-2 no-padding outline dashed" style="outline-color: red;">
                <!-- <div id="led-grid-container"> -->
                <div id="led-grid-container" class="outline dashed" style="outline-color: darkblue;">
                    <div id="led-grid-border" class="stretchy-wrapper center outline solid" style="outline-color: black;">
                        <div id="led-grid">
                            {{#each leds}}
                            <div class="cell led">
                                <button id="{{this.ledId}}" class="btn led {{this.color}}"></button>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <!-- <div id="led-grid-controller"> -->
                <div id="led-grid-controller" class="outline dashed" style="outline-color: darkmagenta;">
                    <div id="color-grid">
                        {{#each colors}}
                        <div class="cell color">
                            {{#if @first}}
                            <button id="{{this}}" class="btn color {{this}} active"></button>
                            {{else}}
                            <button id="{{this}}" class="btn color {{this}}"></button>
                            {{/if}}
                        </div>
                        {{/each}}
                    </div>
                    <div id="control-grid">
                        <div class="cell control">
                            <button id="control-set" class="btn control no-padding">Set all</button>
                        </div>
                        <div class="cell control">
                            <button id="control-clear" class="btn control no-padding">Clear all</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 no-padding"> -->
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 no-padding outline dashed" style="outline-color: purple;">
                <!-- <div id="live-stream-container"> -->
                <div id="live-stream-container" class="outline dashed" style="outline-color: springgreen;">
                    <div id="live-stream-border" class="stretchy-wrapper center outline solid" style="outline-color: black;">
                        <iframe id="live-stream" src="https://www.youtube.com/embed/live_stream?channel=UCeLYdfdOvP-lMv-9MzZpfag&autoplay=1" frameborder="0"></iframe>
                    </div>
                </div>
                <div id="description-container">
                    <div id="description-border" class="outline solid" style="outline-color: black">
                        <a href="https://github.com/KevinNovak/Matrix" target="_blank">
                            <img id="github-logo" src="./img/github-logo.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
</body>

</html>