<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matrix</title>
    <script src="https://unpkg.com/mqtt@2.17.0/dist/mqtt.js"></script>
    <script type="text/javascript" src="./js/matrix.js"></script>
    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
        crossorigin="anonymous"></script>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="./css/custom.css">
    <link rel="stylesheet" href="./css/colors.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 id="header" class="center-text">Welcome to the Matrix</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 offset-xl-2 no-padding">
                <!-- <div id="led-grid-container"> -->
                <div id="led-grid-container">
                    <div id="led-grid-border" class="stretchy-wrapper center">
                        <div id="led-grid">
                            {{#each leds}}
                            <div class="cell led">
                                <button id="{{this.ledId}}" class="btn led {{this.color}}"></button>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <!-- <div id="led-grid-controller"> -->
                <div id="led-grid-controller">
                    <div id="color-grid">
                        {{#each colors}}
                        <div class="cell color">
                            {{#if @first}}
                            <button id="{{this}}" class="btn color {{this}} active"></button>
                            {{else}}
                            <button id="{{this}}" class="btn color {{this}}"></button>
                            {{/if}}
                        </div>
                        {{/each}}
                    </div>
                    <div id="control-grid">
                        <div class="cell control">
                            <button id="control-set" class="btn control no-padding">Set all
                                <i class="fas fa-paint-brush fa-fw"></i>
                            </button>
                        </div>
                        <div class="cell control">
                            <button id="control-clear" class="btn control no-padding">Clear all
                                <i class="fas fa-times fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 no-padding">
                <!-- <div id="live-stream-container"> -->
                <div id="live-stream-container">
                    <div id="live-stream-border" class="stretchy-wrapper center outline solid" style="outline-color: black;">
                        <iframe id="live-stream" src="https://www.youtube.com/embed/live_stream?channel=UCeLYdfdOvP-lMv-9MzZpfag&autoplay=1" frameborder="0"></iframe>
                    </div>
                </div>
                <div id="description-container">
                    <div id="description-border" class="outline solid" style="outline-color: black">
                        <div id="description-content">
                            Description
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="page-footer mt-4">
        <!--Copyright-->
        <div class="pt-3 text-center">
            <i class="fas fa-copyright fa-fw"></i> 2018
            <a class="no-underline" href="https://github.com/KevinNovak" target="_blank">Kevin Novak</a>
        </div>
        <div class="pt-2 text-center">
            <a class="no-underline" href="https://github.com/KevinNovak/Matrix" target="_blank">View Source
                <i class="fab fa-github fa-fw"></i>
            </a>
        </div>
        <div class="pt-2 pb-5 text-center">
            Built with:
            <a class="no-underline" href="https://www.npmjs.com/package/mqtt" target="_blank">MQTT.js</a>,
            <a class="no-underline" href="http://www.mosca.io/" target="_blank">Mosca</a>
        </div>
    </footer>
</body>

</html>
</body>

</html>